{
    "token" : "",
    "prefix": "",
    "mongooseConnectionString": "",
    "joinWebhook": "",
    "leaveWebhook": "",
    "readyWebhook": "",
    "errorWebhook": "",
    "debugWebhook": "",
    "color": {
        "greate": "#53FF53",
        "error": "#EA0000"
    },
    "emoji": {
        "error": "你的error emoji ex: <a:error:980086028113182730>",
        "delete": "你的delete emoji ex: <:trashbin:995991389043163257>",
        "set": "你的set emoji ex: <:setting:992011379508789268>",
        "done":"你的done emoji ex: <a:green_tick:994529015652163614>",
        "lodding": "lodding emoji ex: <a:load:986319593444352071>"
    }
}